<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" routerDirection="back" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Tentang Apps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>PHP Backend</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div>Backend : Laravel Framework</div>
      <div>Database : MySQL</div>
      <div>FrontEnd : Ionic Framework</div>
      <div>Source Code : <a href="https://github.com/webtoor/test-indodax-php" target="_blank">Github</a></div>
      <div>Link Apps : <a href="test-indodax-php.firebaseapp.com" target="_blank">Link</a></div>

    </ion-card-content>
  </ion-card>

  <ion-card>
  <ion-card-header>
    <ion-card-title>Golang Backend</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div>Backend : Golang</div>
    <div>Database : MySQL</div>
    <div>FrontEnd : Ionic Framework</div>
    <div>Source Code : <a href="https://github.com/webtoor/test-indodax-go" target="_blank">Github</a></div>
    <div>Link Apps : <a href="test-indodax-go.firebaseapp.com" target="_blank">Link</a></div>
  </ion-card-content>
</ion-card>
</ion-content>
