<ion-header class="ion-no-border">
  <ion-toolbar color="primary" style="height: 130px;">
    <ion-title class="ion-text-center" style="margin-right: 40px;">Dashboard</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="apps"></ion-icon> 
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="x" style="margin-top:-80px;">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>
          <ion-badge color="primary"><b>Saldo Anda</b></ion-badge>
          <div style="float: right; margin-top: 0px; margin-right: 0px">{{userData?.saldo}} BTC</div>  
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="transferPage()">
    <ion-fab-button color="danger">
      <ion-icon name="paper-plane-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf="transaction?.length > 0; else emptyTransaction">
  <ion-list-header>
    <ion-badge color="yellow-light"><b>Transaksi Terakhir</b></ion-badge>
  </ion-list-header>
  <div *ngFor="let item of transaction">
  <ion-card> 
    <ion-item>
      <ion-icon *ngIf="item.sender.user_id === user_id" name="cash-outline" slot="start" style="color:red;"></ion-icon>
      <ion-icon *ngIf="item.receiver.user_id === user_id" name="cash-outline" slot="start" style="color:#4ebaaa;"></ion-icon>
      <ion-label>
        <div *ngIf="item.sender.user_id === user_id">
          Uang Keluar
        </div>
        <div *ngIf="item.receiver.user_id === user_id">
          Uang Masuk  
        </div>
    </ion-label>
    </ion-item>
    <ion-card-content>
      <div>Tanggal : {{item.created_at | date: "dd MMM yyy HH:mm:ss"}}</div>
      <div>Pengirim : {{item.sender.username}}</div>
      <div>Penerima : {{item.receiver.username}}</div>
      <div>Jumlah : {{item.amount}} BTC</div>
    </ion-card-content>
  </ion-card>
 </div>
</div>

<ng-template #emptyTransaction>
  <div style="text-align: center;">
    <ion-img src="/assets/images/gologo.png" style="height: 100px; margin-top: 18%;"></ion-img>
    <h5 style="font-size: 13px; margin-top:15px;"><ion-badge color="danger">Anda Belum Memiliki History Transaksi</ion-badge></h5>
  </div>
</ng-template>

</ion-content>
